:root {
    /* fonts */
    --main-font: "Roboto";
    --secondary-font: "Raleway";

    /* text colors */

    /* bg-colors */

    /* others */
}



body {
    font-family: "Roboto", "Raleway"; sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* common styles start */
    .link {
        text-decoration: none;

    }

    .list {
        list-style: none;
    }

/* common sryles end */
